/AngularJSPhoneCat/nbproject/private/
/BackboneWineCellar/nbproject/private/
/BackboneJQueryMobile/nbproject/private/
/EmberJSTrek/nbproject/private/
/KnockoutJSGameList/nbproject/private/
/RentAFlat-Zend/nbproject/private/
/RentAFlat-Symfony/nbproject/private/
/ResponsiveRabbits/nbproject/private/
/PhpProject1/nbproject/private/
/AnagramGame/nbproject/private/
/AnagramGame/build/
/GUIFormExamples/nbproject/private/
/GUIFormExamples/build/
/AdvancedMedia/nbproject/private/
/AdvancedMedia/dist/
/AdvancedMedia/build/
/AudioVisualizer3D/nbproject/private/
/AudioVisualizer3D/build/
/AudioVisualizer3D/dist/
/Cube3D/nbproject/private/
/Cube3D/build/
/Cube3D/dist/
/HTMLEditorApp/nbproject/private/
/PuzzlePieces/nbproject/private/
/PuzzlePieces/dist/
/PuzzlePieces/build/
/RentAFlat-Zend1/nbproject/private/
/test/nbproject/private/
/HTMLEditorApp/build/
/HTMLEditorApp/dist/